<!DOCTYPE html>
<html>

<head>
  <title>
   
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  

  <div class='formbox'>
    <form action='/users' method='get'>
        <input type='text' id="enrollmentno" placeholder="Enrollment No."  class='box' />
        <button type='submit'>Submit</button>
    </form>

  </div>
  <p class="time"><%= moment().format('HH:mm'); %></p>
  <p class="da"><%= moment().format('dddd, MMMM DD'); %></p>
   

</body> 

</html>